<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
       <div class="col-4"></div>
        <div class="col-4"><h1>My Recipes</h1></div>
        <div class="col-4"></div>
    </div>
</div>
<div class="container">
 <div class="row">
     {%for user in users%}
     <div class="col-4">
<!--         card start-->
      <div class="card" style="width: 18rem;">
  <img src="{{user.recipe_image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{user.recipe_name}}</h5>
      <a href="{%url 'recipeview' user.id%}" class="btn btn-primary">View</a>
      <a href="{%url 'recipeedit' user.id%}" class="btn btn-success">Edit</a>
       <a href="{%url 'recipedelete' user.id%}" class="btn btn-danger">Delete</a>
  </div>
</div>
<!--         card end-->

         </div>
     {% endfor %}
 </div>
</div>
</body>
</html>